<!-- About Section -->
  <!--  <section id="about"> -->
        
        
        <!-- <div class="container">
            <div class="row"> -->
        <div id = "content">
            <div id = "left">
            
            <!-- <div style="width: 40%; float:left; padding = 10"> -->
   			<!-- left content here -->
            <img class="img-responsive" style="height:10% weight:10%" src="img/about/Rossclip.jpg" alt="">
   
   			</div>
   			
   		<!--	<div id = "right"> -->
		

		<div style="width: 60%; float:right"> 
		<!-- right content here -->

            
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>

                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>AS Guitars</h4>
                                    <h4>built to perform</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">AS Guitars is building hand crafted boutique instruments since 2012. 
                                    We are building guitars for high playability with deep cutaways and thin necks. All of our guitars feature 
                                    through necks and are equipped with quality hardware. We use traditional guitar woods as well as local woods
                                    from Southern Africa, such as kiaat.</p>
                                </div>
                                     
                          </div>
            </div>
       </div>
  <!--  </section> -->
    
    <!--
            <div id="content">
  <div id="left">
     <div id="object1"></div>
     <div id="object2"></div>
  </div>

  <div id="right">
     <div id="object3"></div>
     <div id="object4"></div>
  </div>
</div>
-->