<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                           <div class="timeline-image">
                              <!--  <img class="img-circle img-responsive" src="img/about/1.jpg" alt=""> -->
                              <!--  <img class="img-responsive" src="img/about/1.jpg" alt=""> -->
                                <img class="img-responsive" src="img/about/Rossclip-to_perform.jpg" alt="">
                           </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <!-- <h4>AS Guitars</h4> -->
                                    <img class="img-responsive" src="img/as_wide_logo.jpg">
                                   <!-- <h4>built to perform</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> is building hand crafted boutique instruments since 2012. 
                                    We are building guitars for high playability with deep cutaways and thin necks. All of our guitars feature 
                                    through necks and are equipped with quality hardware. We use traditional guitar woods as well as local woods
                                    from Southern Africa, such as kiaat.</p>
                                </div>
                                     
                            </div>
                        </li>
                    <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oxalis</h4>
                                    <h4 class="subheading">single cut</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">...</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Xyris</h4>
                                    <h4 class="subheading">drop top</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">...</p>
                                </div>
                            </div>
                        </li>
                    -->    
                        <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        -->
                        <!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </section>