<!-- Team Section -->
    <section id="videos" > <!-- class="bg-light-gray"> -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">AS Guitars in action</h2>
                    <!--
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                	-->
                </div>
            </div>
                        
        	<div class="row">
               	<div class="col-md-4 col-sm-6">
					<div class="video-container">
               			<div> 
                    		<iframe width="560" height="315" src="https://www.youtube.com/embed/7y9T7ZiTrP4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					<div class="portfolio-caption">
                        <p class="text-muted">AS Guitars Xyris 6-string</p>
                    </div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="video-container">
						<div>
							<iframe width="560" height="315"  src="https://www.youtube.com/embed/4Bc10XZk0Gs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               			</div>
               		</div>
               		<div class="portfolio-caption">
                        <p class="text-muted">AS Guitars Amyris 8-string</p>
                    </div>
               </div> 
               <div class="col-md-4 col-sm-6">
					<div class="video-container">
						<div>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/q2hJFA5UA0g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               			</div>
               		</div>  
					<div class="portfolio-caption">
                        <p class="text-muted">Templar Funk featuring AS Guitars Oxalis and AS Guitars custom bass</p>             				
               		</div>
               </div>              
               
        	</div>
        </div>
    </section>
    
    
    
    <!--
    <iframe width="560" height="315" src="https://www.youtube.com/embed/jlO1WJg-zRM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    Templar Funk playing Sweet Child of Mine at Musketeers recorded by Katrin Tirok on 15/4/2017
    -->
    
    <!--
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pi80v3fWW-4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    Templar Funk playing Parisienne Walkways at Musketeers recorded by Kerry Callaghan on 1/4/2017
    -->
    
    
    